@import "../../scss/mixins";
@import "../../scss/variables";

.section {
  width: 100%;
  height: 100vh;
  background-color: #a6aebb;

  .contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .herotitle {
      padding: 6rem;

      @include respond(tab-port) {
        padding: 1rem;
      }

      h2 {
        text-align: center;
        color: #000000;
      }

      p {
        text-align: center;
        padding: 0rem 48rem;

        @include respond(desktop) {
          padding: 0rem 24rem;
        }

        @include respond(tab-port) {
          padding: 0rem;
        }
      }

      .button {
        width: 100%;
      }
    }
  }
}
