//colour
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// FONT VARIABLES
$font-primary: "Raleway", sans-serif;

//line-height

$line-height: 2rem;

$primary-colours-400: #201e2f;

//neutral-colours
$color-bg-white: #ffffff;
$color-white: #f5f5f5;
$color-black: #111111;

// HEADING VARIABLES
$heading-xxl: 5.6rem;
$heading-xl: 4.8rem;
$heading-l: 3.2rem;
$heading-lg: 2.4rem;
$heading-md: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 120em; // 1920px
$bp-large: 90em; // 1440px
$bp-desktop: 80em; // 1280px;
$bp-tablet: 48em; // 768px;
$bp-small: 20em; // 320px;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
